@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "頁面不存在";
}

<div>
    <h4>404 Not Found 錯誤;</h4>
    <hr />
    <h5>@ViewBag.ErrorMessage</h5>
</div>
<div>
    <a asp-action="index" asp-controller="home">返回首頁</a>
</div>