@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- 需要 import Microsoft.AspNetCore.Identity 才能用 signInManager -->
@using Microsoft.AspNetCore.Identity
@using AuthSample.Models

<!-- 注入 _signInManager -->
@inject SignInManager<ApplicationUser> _signInManager

@{
}

<!--是否有登入帳號-->
@if (_signInManager.IsSignedIn(User))
{
    <!-- 用 Post 操作比較安全-->
    <form method="post" asp-controller="account" asp-action="logout">
        @User.Identity.Name <button>登出</button>
    </form>
}
else
{
    <div>
        <a asp-controller="account" asp-action="register">註冊</a>
    </div>
    <div>
        <a asp-controller="account" asp-action="login">登入</a>
    </div>
}


<div>
    <a asp-controller="admin" asp-action="rolelist">角色管理</a>
</div>
<div>
    <a asp-controller="admin" asp-action="userlist">使用者管理</a>
</div>
    Index


<h3>權限判段</h3>
@if ( _signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <div>
        角色 Admin 可以看到
    </div>
}

