@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model LoginViewModel
<form method="post">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
    </div>
    <div>
        <label asp-for="RememberMe"></label>
        <input asp-for="RememberMe" />
        <!-- @Html.DisplayNameFor(m => m.RememberMe) -->
    </div>
    <div>
        <button>登入</button>
    </div>
</form>

<h3>第三方登入</h3>

<form mmethod="post" asp-action="ExternalLogin" asp-controller="Account" asp-route-returnUrl="@Model.ReturnUrl">
    <div>
        @foreach (var provider in Model.ExternalLogins)
       {
           <button name="provider" value="@provider.Name">
               @provider.DisplayName
           </button>
       }
    </div>
</form>