@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AuthSample.ViewModels.Admin.EditRoleViewModel

<h1>編輯角色</h1>

<form method="post">
    <div>
        <input asp-for="Id" />
    </div>
    <div>
        <input asp-for="RoleName" placeholder="角色名稱" />
        <span asp-validation-for="RoleName"></span>
    </div>
    <div>
        <button>更新</button>
        <a asp-action="rolelist">取消</a>
    </div>
    <div>
        <h3>該角色中的使用者</h3>
        <hr />
        <div>
            @if (Model.Users.Any())
            {
                <ul>
                    @foreach (string user in Model.Users)
                   {
                       <li>@user</li>
                   }
                </ul>
            }
            else
            {
                <h5>目前沒有使用者綁定</h5>
            }
        </div>
        <div>
            <!-- 添加使用者到角色裡面-->
        </div>
    </div>
</form>